.blockCalendar table {
width: 100%;
}
.blockCalendar table th {
border-bottom: 1px solid #E8E8E8;
padding-bottom: 5px;
}
.blockCalendar table th,
.blockCalendar table td {
text-align: right;
padding: 10px 1px 0 1px;
font-size: 10px;
width: 14.4%;
}
.blockCalendar table b,
.blockCalendar table span,
.blockCalendar table a {
padding: 4px 5px;
}
.blockCalendar table a {
background: #0078AB;
border-radius: 10px;
color: #fff;
text-align: center;
display: inline-block;
width: 11px;
height: 13px;
}
.blockCalendar table a:hover {
background: #ED0461;
}
.blockCalendar i:hover {
border-color: #0078AB;
}
.blockCalendar .today a {
background: #555;
}
.blockCalendar .today div {
border-color: #ccc;
}
.blockCalendar .selected div {
border-color: #0078AB;
}

.blockCalendar table td div {
display: inline-block;
border: 2px solid transparent;
padding: 1px;
border-radius: 15px;
}
.blockCalendar table td div.hasLink {
border: 2px solid transparent;
}
.blockCalendar .selected i {
border: 2px solid #0078AB;
}
#calendarHeader {
position: relative;
}
#calendarHeader .prev,
#calendarHeader .next {
position: absolute;
top: 0;
}
#calendarHeader .prev {
left: 0;
}
#calendarHeader .next {
right: 0;
}
#calendarHeader .current {
text-align: center;
display: block;
}
