.ddItems.str_afisha .hgrp_image {
width: 130px;
vertical-align: top;
}
.str_afisha .hgrp_title {
width: 430px;
}

.smIcons {
}

.ddItem {
width: 275px;
}
.ddItem.str_afisha .f_text {
margin-bottom: 15px;
}
.ddItem.str_afisha .f_price {
margin-top: 5px;
}
.ddItem.str_afisha .f_image {
position: absolute;
top: 8px;
left: -213px;

}
.str_afisha .hgrp {
display: inline-block;
}
.str_afisha .f_eventDate {
display: inline-block;
}
.str_afisha .f_eventTime {
display: inline-block;
}
.ddItems.str_afisha .f_price {
display: inline-block;
margin-left: 20px;
}
.ddItems.str_afisha .f_text {
margin-bottom: 0;
}
