.ddItems.str_fleaMarketProducts {
width: 620px;
}
.ddItems.str_fleaMarketProducts .item {
height: 125px;
width: 130px;
margin-right: 12px;
display: inline-block;
}
.ddItems.str_fleaMarketProducts .f_dateCreate {
font-size: 9px;
margin-top: 7px;
}
.ddItems.str_fleaMarketProducts .thumbCont img {
width: 120px;
}
