.itemContent.itemContentPreview {
width: 260px;
float: left;
border-right: 1px solid #EDEDED;
}
.itemContent.itemContentText {
width: 200px;
float: left;
}
.itemContent.itemContentPreview img {
width: 255px;
}
