.communityBlogHomeList .avatarCont {
width: 150px;
text-align: right;
float: left;
margin-left: -200px;
width: 150px;
}
.communityBlogHomeList img.avatar {
text-align: right;
display: inline-block;
margin-top: 10px;
}
