.users .item {
display: inline-block;
margin: 0 20px 20px 0;
text-align: center;
}
.users .item p {
margin: 10px 0 0 0;
}
.users a {
border: 1px solid #F4F4F4;
border-radius: 50px;
display: block;
width: 100px;
height: 100px;
text-align: center;
text-decoration: none;
}
.users a:hover {
border-color: #ccc;
}
.users a .dummy {
display: inline-block;
vertical-align: middle;
height: 100%;
}
.users a img {
display: inline-block;
vertical-align: middle;
max-width: 75px;
max-height: 75px;
}
.users .item.square a img {
border-radius: 50px;
max-width: 100px;
max-height: 100px;
}
