.apeform .name_eventDate,
.apeform .name_eventTime,
.apeform .name_place,
.apeform .name_price {
display: inline-block;
width: 45%;
}

.apeform .name_eventDate input,
.apeform .name_eventTime input,
.apeform .name_place input,
.apeform .name_price input {
width: 100%;
}
