.ddItems.str_afisha .hgrp_image {
width: 130px;
vertical-align: top;
}
.str_afisha .hgrp_title {
width: 430px;
}
.ddItem.str_afisha {
width: 275px;
}
.ddItem.str_afisha .f_text {
margin-bottom: 15px;
}
.ddItem.str_afisha .f_price {
margin-top: 5px;
}
.col1 .f_image img {
width: 185px;
}
.col1 .f_image {
padding: 10px 0 0 25px;
}
.str_afisha .hgrp {
display: inline-block;
}
.str_afisha .f_eventDate {
display: inline-block;
}
.str_afisha .f_eventTime {
display: inline-block;
}
.ddItems.str_afisha .f_price {
display: inline-block;
margin-left: 20px;
}
.ddItems.str_afisha .f_text {
margin-bottom: 0;
}
.ddItems.str_afisha .source {
font-size: 10px;
float: right;
}
